#nav-bar {
  position: fixed;
  top: 0;
  height: 80px;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0em 2em 0em 2em;
  width: 100%;
  z-index: 1;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  height: 80px;
  margin-left: 10px;
  float: left;
  font-size: 200%;
  line-height: 80px;
}

#nav-bar #toggle {
  opacity: 0.85;
  float: right;
  padding: 0.5em;
  border: 0.1em solid white;
  border-radius: 0.25em;
  margin-right: 2em;
  margin-top: 1.15em;
}

#nav-bar #toggle:hover {
  opacity: 1;
  border: 0.2em solid black;
  color: black
}